@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

body {
  padding: 0;
  text-align: center;
  background-image: url("./Images/colorsbg.jpeg");
  background-repeat: no-repeat;
  font-family: 'Roboto Mono', sans-serif;
  background-size: 90%;

}

button,
input {
  font: inherit;
  color: inherit;
  align-items: center;
}
/*
h1 {
    padding: 10px;
    align-self: center;
}

.allDivTest{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20%;
    margin-left: 2%;
  }
  */

canvas {
  position: absolute;
  width: 90%;
  left:0;
  top: 0 !important;
  z-index: -1;
}

#startGame {
  left: 0;
  top: 100;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 800px;
  height: 500px;
  position: absolute;
  background-position: center;
}

